body{
    background-color: rgba(255, 153, 0, 0.466);
   
    
}
.jumbotron{
    text-align: center;
    background-color: rgb(133, 231, 221);
     

}
.container{
    background-color: bisque;
    
}